<h1>編集する</h1>
<%= form_tag("/posts/#{@post.id}/update", class: "") do %>
<div class="form-group">
<% @post.errors.full_messages.each do | message | %>
<div class="text-danger">
<%= message %>
</div>
<% end %>
<textarea name="content" class="form-control" rows="6"><%= @post.content %></textarea>
</div>
<input type="submit" class="btn btn-primary" value="保存する">
<% end %>
