@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), asset_url('AirbnbCerealBook.woff') format('woff');
}
@font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), asset_url('AirbnbCerealLight.woff') format('woff');
}
@font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), asset_url('AirbnbCerealMedium.woff') format('woff');
}
@font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Bold'), asset_url('AirbnbCerealBold.woff') format('woff');
}
@font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Extra Bold'), asset_url('AirbnbCerealExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), asset_url('AirbnbCerealBlack.woff') format('woff');
}
html{
	font-size: 100%;
}
body{
	font-size: 1rem; /* 16px */
	font-family:'Airbnb Cereal App Medium',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	color: #333;
}
ul,ol,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
